/*  Add your styling here */

*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
}
.top-header{

    background-color: aquamarine;
    text-align-last: right flex-end;
    text-align: end;
    height: 200px;
}
