/*  Add your styling here */

*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
} 
/*  MOBILE MENU */


.mobile-container{
    padding: 10px;
    background-color: rgb(137, 207, 209);
    height: 150px;
    flex-wrap: wrap;
}

.topnav {
  overflow: hidden;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: rgb(66, 41, 41);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: rgb(47, 183, 218);
}

.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  top: 18px;
  left: 268px;
  width: 5px;
  height: 5px;  
  
  /* corrigir height 21 and width 15 se quiser cobrir o bloco todo  */
}

.topnav a:hover {
  background-color: transparent;
  color: rgb(107, 25, 201);

}
.active {
  background-color: #aa0f04;
  color: rgb(26, 30, 223);
  
}

 /* LOGO E FRASE HEADER  */

.comercial-phrase{
    background-color: rgb(180, 152, 206);
    position: absolute;
    top: 110px; 
    right: 10px;
    text-align: end;
    flex-wrap: wrap;
    width: min-content;
    font-size: 20px;  /* ESTILO E TAMANHO DA LETRA INTERFERE NA APARENCIA FINAL */

     /* align-items: flex-end; */
    /* padding-right: 10px;
    padding-left: 50px; */
     /* margin-left: 50px; */
}

.logo{
    width: 110px;
    position: absolute;
    top: 05px;
    left: auto;
    border-radius: 100%;
    border: 5px double rgb(126, 25, 25);
    
}

/* MAIN- MENU */

.main-Menu{
    position: relative;

}

.main-Menu ul li{
    display: none;
}


/* MAIN - WELCOME */

.main-Welcome{
    background-color: rgb(152, 185, 247);
    margin: 5px;
}


.main-text{
    margin: 10px;
    padding: 10px 10px 0px;
    flex-wrap: wrap;
}

.pic-0{
    width: 290px;
    border: 5px double rgb(126, 25, 25);
    margin-bottom: -65px;
    margin-top: 100px;
    padding: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* CONTAINER COM 4 FOTOS */

.container{
    background-color: deeppink;
    flex-wrap: wrap;
    justify-content: center;  

}

.row-1,
.row-2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pic-1,
.pic-2,
.pic-3,
.pic-4{
     margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    width: 140px;
    height: 175px;
    object-fit: cover;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgb(126, 25, 25);
}


/* FOOTER */

.the-end{
    margin: 10px;
    background-color: rgb(151, 223, 233);
    padding: 15px;
    flex-direction: row;

}
.footer-line1,
.footer-line2,
.footer-line3{
    line-height: 13px;
     background-color: rgb(226, 211, 231);
        border-radius: 20px;
        padding: 07px;
        margin: 4px;
        border: 2px dashed deeppink;
        font-size: 17px;
       
}

.copyright{
    font-size: 13px;
     text-align: center;
    color: rgb(85, 26, 139);
}

/* Breakpoint 1 */

@media (min-width: 540px){

    .container{
        display: flex;
    }
    .topnav{
        display: none;
    }
    .logo{
        width: 160px;
        margin-left: 10px;
    }
    .comercial-phrase{
        font-size: 30px;
        position: absolute;
        top: 90px;
    }

    .main-Menu{
        line-height: 50px;
        margin: 20px;
    }
    .main-Menu ul li{
        display: inline-block;
        padding: 3px;  
        text-decoration: none;  
    }
    .button,
    .footer-line1,
    .footer-line2,
    .footer-line3{
        background-color: rgb(189, 126, 221);
        text-align: center;
        
    }
    .main-Menu ul li a,
    .footer-line1,
    .footer-line2,
    .footer-line3{
        background-color: rgb(226, 211, 231);
        border-radius: 20px;
        padding: 07px;
        margin: 4px;
        border: 2px dashed deeppink;
        font-size: 20px;
        flex-wrap: nowrap;

    }
    .main-Menu ul li a:hover {
        background-color: gainsboro;
    }
    h1 {
        font-size: 40px;
    }
    .main-text{
        font-size: 25px;
    }
    .pic-0 {
        border: 5px double   rgb(126, 25, 25);
        width: 500px;
        margin-top: 150px;
        margin-bottom: -110px
    }
    .container{
        display: inline-flexbox;
    }
    .pic-1,
    .pic-2,
    .pic-3,
    .pic-4{
        margin: 5px;
        align-content: flex-start;
        height: 300px;
        width: 240px;
    }
    .the-end{
    justify-content: center;
    text-align: center;
    }
}

/* Breakpoint 2 */

@media (min-width: 900px){

    .logo{
        width: 150px;
        border-radius: 100%;
        margin-left: 25px;
        padding: -5px;
        border: 5px double rgb(126, 25, 25);
    }
    .main-Menu{
        margin-top:10px;
        margin-left: 0;
        margin-bottom: -10px;
        width: 100%;
    }
    .comercial-phrase {
        flex-wrap: nowrap;
        width: 600px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .main-Welcome{
        margin:0px;
        height: 340px;
    
}
    .pic-0{
        width: 460px;
        position: relative;
        top: -10px;
        left:280px;
        margin-top: -0px;
        border-radius: 15%;
    }
    h1.main-text{
        font-size: 30px;
    }

    .main-text{
        width: 400px;
        max-width: 390px;
        position: relative;
        top: 16%;
        left: 54%;
        margin-right: 5px;
        margin-top: 10px;
        text-align: end;
        font-size: 20px;
        align-content: flex-end;

    }

    .container{
        flex-wrap: nowrap;
        margin: 0 5px;
    }
    .row-1,
    .row-2{
        margin: 10px 0;
    }
    .pic-1,
    .pic-2,
    .pic-3,
    .pic-4{
        width:190px;
        border: 5px double rgb(126, 25, 25);
        padding: 5px;
        margin-right: 5px;
    }
    .the-end{
        
    }
     .footer-line1,
     .footer-line2,
     .footer-line3{
        width: 70%;
        padding: 10px;
    }
   .copyright{
       font-size: 15px;
   }

}